<!DOCTYPE html>
<html lang="en">
<head>
    <title>RegEX</title>
</head>
<body>
    
    <h1>Welcome to Regex</h1>

    <form action = "" method="post">
        <label>String</label><br>
        <input type="text" name="txt" placeholder="Enter String"><br><br>

        <label>Regex</label><br>
        <input type='text' name="reg_exp" placeholder="Enter Regex"><br><br>

        <button> Submit </button>
    </form>
    <!-- Displaying Variables on the frontend-->
    <p>For String = {{t}} and Regex = {{reg}}<br/>  
    Total_matches :- {{ c }}<br>
    Matches :- {{r}}</p>
    
   
    </div>
</body>
</html>