<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="{{url_for('index_function')}}"> Home</a>
        <a href="{{url_for('contact_function')}}"> Contact Us</a>
    </nav>


    <h1> Welcome to My Application</h1>


    <form action="{{url_for('thankyou_function')}}" method="post"> <!-- as we are defining method = 'post', so the route '/thankyou' also listen to the post request hence we also need to mention methods=['post'] in that route-->
        <label>Enter your name</label>
        <input type="text" name='in_1' placeholder="gulshan"> <br/>
        <label>Enter your age</label>
        <input type="text" name='in_2' placeholder="28"> <br/>
        <button> Register </button>
    </form>
    
</body>
</html>